venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.aux
*.out
*.toc
*.gz
*.zip
*.tar
*.rar
*.7z
*.swp
*.swo
.DS_Store
.idea/
.vscode/
*.iml
*.class
*.jar
*.war
*.ear
node_modules/
dist/
build/
*.egg-info/
.eggs/
coverage/
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage